$primary-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$black-font: #000;
$white-font: #fff;
$gray-header: rgb(230, 228, 228);
$gray-background: rgb(247, 245, 245);
$gray-footer: rgb(63, 63, 63);
$gradient: linear-gradient(175deg, #ff79da, #9356dc);
$gradient-light: linear-gradient(175deg, #fd90de, #a273db);
